header {
  text-align: center;
  /*color: white;*/
}

main h2 {
  text-align: center;
  /*color: white;*/
}

.inner-fruit-container {
  height: 200px;
  width: 75%;
  background-color: rgba(128,128,128,0.5);
  margin: 30% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fruit-name {
  color: white;
  margin-top: 25px;
  font-weight: bold;
  font-size: 1.15em;
}

.inner-fruit-container  p {
  color: white;
}

.currency {
  text-align: right;
}

.inventory-hdr {
  text-align: center;
}

.quantity {
  text-align: center;
}
