header {
  text-align: center;
  /*color: white;*/
}

main h2 {
  text-align: center;
  /*color: white;*/
}

.inner-fruit-container {
  height: 200px;
  width: 75%;
  background-color: rgba(128,128,128,0.9);
  margin: 30% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-fruit-container button {
  background-color: black;
  border: 1px solid white;
  color: white;
  margin: 0 auto;
}
